<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059670460450-aofi0l3huq892p8hqqd3khkc2hebik34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059670460450-aofi0l3huq892p8hqqd3khkc2hebik34</string>
	<key>API_KEY</key>
	<string>AIzaSyB72hfU7iYewrHXaIAlIy2CQh8xdlbWniw</string>
	<key>GCM_SENDER_ID</key>
	<string>1059670460450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.volyaApp</string>
	<key>PROJECT_ID</key>
	<string>volyaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>volyaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059670460450:ios:b6cd3b70ac601e10c2627b</string>
</dict>
</plist>